@font-face {
    font-family: 'Andada-Regular';
    src: url('/fonts/Andada-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
	background-color: #D2D7D3;
	margin: 0 0 0 0;
	padding-bottom: 1em;
	font-family: Andada-Regular, Sans-Serif;
	font-size: large;
}
.header {
	background-color: #EF4836;
	color: #F2F1EF;
	margin: 0;
	padding-top: 1em;
	padding-right: 1em;
	padding-bottom: 2em;
	padding-left: 1em;
	height: 10em;
	min-width: 57em;
}
.header h1 {
	margin-top: 0;
}
.homelink {
	color: inherit;
	text-decoration: none;
}
.headerdata {
	width: 75%;
	min-width: 280px;
	margin: 0 auto;
}
.navbar {
	width: 75%;
	min-width: 280px;
	margin: 0 auto;
	margin-top: 1.5em;
	margin-bottom: 1em;
	font-size: 20px;
	text-align: left;
}
.navbar a {
	color: inherit;
	text-decoration: none;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.15);
	border-bottom: 1px solid rgba(242, 241, 239, 0);
	transition: border 300ms ease; 
}
.navbar a:hover {
	border-bottom: 1px solid rgba(242, 241, 239, 1);
}
.content {
    margin: 0 auto;
    width: 57em;
	min-width: 300px;
}
.tile {
	color: #232323;
	background-color: #F2F1EF;
	border-radius: 2px;
	box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
	padding: 1em;
	margin: 1em;
}
.text {
	line-height: 1.5;
	width: 35em;
	float: left;
	padding-left: 2em;
	padding-right: 2em;
	margin-right: 0;
}
.text h1 {
	margin-top: 0.5em;
}
.recent {
	float: right;
	text-align: center;
	width: 12em;
	margin-left: 0;
}
.recent h3 {
	margin: 0 auto;
}
.recent ul {
	text-align: left;
	padding-left: 1.25em;
}
.circlephoto{
	width: 150px;
	height: 150px;
	border-radius: 75px;
	-webkit-box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.8);
	box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.8); 
	float: left;
	background: url(/img/photo.jpg) no-repeat;
	background-color: #F2F1EF;
}
.title {
	margin-left: 150px;
	height: 150px;
	line-height: 150px;
	padding-left: 2em;
}
.title span{
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}
/* responsive layout */
@media (max-width: 800px) {
	.header {
		min-width: auto;
	}
	.content {
		width: 80%
	}
	.recent {
		float: none;
		width: auto;
		margin: 0 auto;
		margin-top: 1em;
	}
	.text {
		float: none;
		width: auto;
		margin: 0 auto;
		margin-top: 1em;
	}
}
@media (max-width: 640px) {
	.headerdata {
		width: 90%;
	}
}
@media (max-width: 500px) {
	.header {
		height: auto;
		padding-top: 2em;
		padding-bottom: 0;
	}
	.headerdata {
		width: 100%;
	}
	.circlephoto {
		float: none;
		margin: 0 auto;
	}
	.title {
		height: auto;
		margin: 1em 0 auto;
		padding: 0;
		line-height: normal;
		text-align: center;
	}
}
