:root {
	/* This is also the accent color of the website */
	--header-background: #D3643B;
	/* Keep the three components separated as sometimes alpha is added */
	--body-background: 246, 246, 246;
	--text-color: rgba(0, 0, 0, 0.9);
	--text-background: rgba(255, 255, 255, 0.9);
	/* Box shadows for cards and stuff */
	--box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.6);
	/* control edge sharpness for various elements */
	--border-radius: 1.5px;
}
@font-face {
    font-family: 'Alegreya';
    src: url('/res/fonts/Alegreya-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'GrundschriftRegular';
	src: url('/res/fonts/Grundschrift-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'AlexBrushRegular';
	src: url('/res/fonts/AlexBrush-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
body {
	background-color: rgb(var(--body-background));
	margin: 0;
	padding-bottom: 1em;
	font-family: Alegreya, Serif;
	font-size: large;
}
.header {
	font-family: GrundschriftRegular, Sans-Serif;
	background-color: var(--header-background);
	color: rgb(var(--body-background));
	margin: 0;
	padding: 1em;
	min-width: 60em;
}
.header h1 {
	font-family: AlexBrushRegular, Sans-Serif;
	margin-top: 0;
	margin-bottom: 0.25em;
}
.homelink {
	color: inherit;
	text-decoration: none;
}
.headerdata {
	margin: 0 auto;
	text-align: center;
}
.navbar {
	min-width: 280px;
	margin: 0;
	font-size: 20px;
	text-align: center;
}
.navbar a {
	color: inherit;
	text-decoration: none;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.15);
	border-bottom: 1px solid rgba(var(--body-background), 0);
	transition: border 300ms ease;
	white-space: nowrap;
}
.navbar a:hover {
	border-bottom: 1px solid rgba(var(--body-background), 1);
}
.content {
    margin: 0 auto;
    width: 57em;
	min-width: 300px;
}
.tile {
	color: var(--text-color);;
	background-color: var(--text-background);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	padding: 1em;
	margin: 1em;
}
.text {
	line-height: 1.6;
	font-size: clamp(18px, 4.5vw, 21px);
	padding: 2em;
	text-align: justify;
}
.text h1 {
	margin-top: 0.5em;
	text-align: center;
}
.text p {
	margin: 0.5em 0 0.5em 0;
}
.circlephoto {
	--diameter: 220px;
	width: var(--diameter);
	height: var(--diameter);
	border-radius: calc(var(--diameter) / 2);
	margin: 1em auto 2em;
	box-shadow: var(--box-shadow);
	background: url(/res/img/photo-220.jpg) no-repeat;
	background-color: #F2F1EF;
}
figure {
	width: max-content;
	max-width: 75%;
	min-width: 250px;
	text-align: center;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}
figure img {
	border: 1px solid #ddd;
	border-radius: var(--border-radius);
	padding: 2px;
	width: calc(100% - 10px);
}
figure img:hover {
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
code {
	display: block;
	overflow: auto;
	padding-left: 1.5em;
	background-color: rgba(0, 0, 0, 0.05);
	padding: 1em 1.5em;
	border: 1px solid #ddd;
	border-left: 3px solid var(--header-background);
	border-radius: var(--border-radius);
}

/* responsive layout */
@media (max-width: 800px) {
	.header {
		min-width: auto;
	}
	.content {
		width: 85%
	}
	.recent {
		float: none;
		width: auto;
		margin: 0 auto;
		margin-top: 1em;
	}
	.text {
		float: none;
		width: auto;
		margin: 0 auto;
		margin-top: 1em;
	}
}
@media (max-width: 640px) {
	.headerdata {
		width: 90%;
	}
	.content {
		width: 97%;
	}
	.text {
		padding-left: 1em;
		padding-right: 1em;
	}
}
@media (max-width: 500px) {
	.header {
		height: auto;
		padding-top: 1.5em;
		padding-bottom: 0.5em;
	}
	.headerdata {
		width: 100%;
	}
	.circlephoto {
		float: none;
		margin: 0 auto;
	}
	.title {
		height: auto;
		margin: 1em 0 auto;
		padding: 0;
		line-height: normal;
		text-align: center;
	}
	.navbar a {
		line-height: 1.5;
	}
}
